#container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    background-color: white;
}

.title {
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: black;
    /* width: fit-content;
    height: fit-content; */
    padding: 15px;
    margin: auto;
    justify-content: space-between;
    gap: 10px;
    align-content: space-between;
}

.content {
    background-color: #eeeeee;
    display: flex;
    margin: auto;
    padding: 25px;
    border-radius: 8px;
    max-width: fit-content;
}

body {
    background-color: #a0a0a0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}